/*Estilos Generales*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: url(../img/Fondo.jpg);
}

/*Cambia de Color con el Cursor*/
a:hover {
    color: #fb6b6b
}


/*Cabecera-Header*/
#header {
    height: 145px;
    background-color: #F0F0F0;
}

/*Contenedor Pagina Principal*/
#contenedor {
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 15px gray;
    background-color: white;
}

/*Imagen Logo*/
#imagen {
    padding: 20px;
    margin-left: 25px;
    float: left;
}

/*Imagen Logo Img*/

#imagen img {
    float: left;
    height: 100px;
}

/*Imagen Enlaces*/

#imagen a {
    float: left;
    font-size: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 50px;
}




/*Menu Base*/
#menu {
    clear: both;
    background: #2f2f2f;
    color: gray;
    height: 60px;
}

/*Menu Enlaces*/
#menu a {
    display: block;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

/*Menu Cursor*/
#menu a:hover {
    background-color: rgb(100, 3, 3);
}

/*Menu Lista*/
#menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;

}

/*Menu Elemento de la Lista*/
#menu ul li {
    line-height: 60px;
    float: left;
    border-right: 2px solid #fefefe;
}



/*CONTENT*/
#contenido {
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

/*BARRA LATERAL*/
#barra {
    width: 20%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;

}

#barra .block_aside {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;

}

#barra h3 {
    display: block;
    color: #0c0a0a;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #f7c6c6;
    border-bottom: 4px solid #0c0a0a;
}

#barra ul li {
    list-style: square;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/*Email / Contraseña*/

input[type="text"],
input[type="password"],
input[type="email"],

select {
    display: block;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}


/*Botton Enviar*/

input[type="button"],
input[type="submit"],

button,
.button {
    display: block;
    margin-top: 10px;
    border-radius: 4px;
    width: auto;
    padding: 5px;
    color: white;
    background: rgb(83, 83, 241);
}

.button {
    background: #f7c6c6;
    font-size: 18px;
    color: black;
    text-decoration: none;
}


/*Contenido Central*/

#central {
    width: 74%;
    float: right;
    min-height: 500px;
    border-left: 2px solid #ccc;
    box-shadow: -3px 0px -3px gray;
    background-color: white;
    padding: 30px;
}

#central h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;

}

/*Productos*/
.product {
    width: 30%;
    float: left;
    margin-left: 20px;
    text-align: center;
}

.prduct img {
    width: 50px;
    margin-bottom: 8px;
}

.product h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.VerProducto{
width: 100%;
}

#VerProducto{
    width: 100%;
}

#VerProducto .imagen{
    display: block;
    width: 47%;
    float:left;
}

#VerProducto img{
    display: block;
    width: 100%;
    float:left;
}

#VerProducto .data{
    width: 50%;
    float:right;
}

#VerProducto .descripcion{
    margin-bottom: 20px;
}

#VerProducto .precio{
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
}

#VerProducto .stock{
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
}

#VerProducto .button{
    width: 200px;
    text-align: center;
}

.imagen_compra{
    height: 80px;
    display: block;
    margin:10px auto;
}

table{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

/*Footer */
#footer {
    clear: both;
    text-align: center;
    padding: 10px;
    color: white;
    background: #000000;
    border-top: 3px solid #1eb6e9;
}


/*CARRITO*/
.delete-carrito{
    width: 295px;
    float: left; 
 }
 
 .boton_Pedido-delete{
     display: block;
     float: left;
     width: 100px;
 }
 
 .boton_Pedido-carrito{
     width: 70px;
     margin: 0px auto;
     text-align: center;
 }
 
 .total_Compra{
    width: 295px;
    float: right; 
 }
 
 .total_Compra h3{
     display: block;
     float:left;
     margin-top: 5px;
 }
 
 .boton_Pedido{
     display: block;
     float: right;
     width: 100px;
 }
 
 .updown-unidades{
     width: 80px;
     margin: 0px auto;
 }
 
 .updown-unidades .button{
     display: block;
     width: 20px;
     float: left;
     padding:2px;
     margin: 7px;
 }